# Question 1: 
<p>
What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.
</p>

In [6]:
a = 0
def b():
    global a
    a = c(a)

def c(a):
    return a + 2


b()
b()
b()
a

6

# Explanation
<p>
<li>The first statement defines a global variable <b>a = 0</b>. a, being global, is visible to all functions defined i.e. b() and c(a)</li>
<li>When the last express is evaluated, the value of <b>a = 6</b></li>
<li>The reason is simply because when function b() is invoked, it references the global variable <b>a = 0</b></li>.
<li>This references the current memory address of the global variable <b>a</b>  in memory. </li>
<li>Afterwards a call to function c(a) from function b(), passes the current value of a in memory to function c() which increments a by 2 everytime b() is invoked.</li> 
    <li>The returned value of c is assigned to a which points to the memory address of the global variable a</li>
<li>In summary, everytime funtion, b() is executed, a is incremented by 2</li>.
<li>Hence, calling function b() 3 times, sets the value of <b>a = 6</b></li>
</p>

# Question 2: 
<p>
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file. Modify function fileLength() so that a friendly message is printed instead:
</p>

In [8]:
def fileLength(file_name):
    file = open(file_name)
    contents = file.read()
    file.close()
    print(len(contents))

# call to function handled in a try block which handles I/O exceptions such "file not found"
try:
    inputFile = 'idterm.py'
    fileLength(inputFile)
except IOError:
        # executed only if an IOError exception is raised
        print(f'{inputFile} not found')

idterm.py not found

# Question 3:
<p>Write a class named Marsupial that can be used as shown below:</p>
<p>Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:</p>
   <ol>
    <li>extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,</li>
    <li>supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and</li>
    <li>overloads the __str__ operator so it behaves as shown below</li>
   </ol>

In [14]:
class Marsupial:

    myPouch = []     
        
    def put_in_pouch(self,item):
        self.myPouch.append(item)

    def pouch_contents(self):
        print (self.myPouch)

In [15]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [16]:
# defining class kangaroo

class Kangaroo(Marsupial):
        
    def __init__(self, coord_X = 0, coord_Y = 0):
        self.myPouch = []
        self.x = coord_X
        self.y = coord_Y
    
    def jump(self, dx,dy):
        self.x += dx
        self.y += dy
        
    def  __str__(self):
        'Define string representation Point(x, y)'
        return 'I am a Kangaroo located at coordinates({}, {})'.format(self.x, self.y)

In [17]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates(0, 0)

In [18]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [19]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates(3, 0)

# Question 4:
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

In [20]:
def collatz(x):
    if x == 1:
        print(x) #base case
    else:
        if (x%2 == 0):
            print(x)

            return collatz(x//2)
        else:
            print(x)
            return collatz((3*x)+ 1)
        
collatz(10)

10
5
16
8
4
2
1

# Question 5:
<p>Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.</p>

In [23]:
def binary(n):
    if n > 1:
        binary(n // 2) # Recursively call binary() with n divided by 2  
    print(n % 2, end='')  

# each input in decimal number can be tested individually 
# without the loop control structure.

decimal_number = [0,1,3,9]

for i in decimal_number:
    print(f"\n>>> binary({i})\n ", end='')
    binary(i)

>>> binary(0)
 0
>>> binary(1)
 1
>>> binary(3)
 11
>>> binary(9)
 1001

# Questions 6 and 7 Omitted as requested by the Prof

# Question 8
<p>Write SQL queries on the below database table that return:</p>

   <ol>
    <li>All the temperature data.</li>
    <li>All the cities, but without repetition</li>
    <li>All the records for India</li>
    <li>All the Fall records.</li>
    <li>The city, country, and season for which the average rainfall is between 200 and 400 millimeters.</li>
    <li>The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.</li>
    <li>The total annual rainfall for Cairo</li>
    <li>The total rainfall for each season</li>
   </ol>

In [24]:
import sqlite3
con = sqlite3.connect('Weather_Reports.db')
cur = con.cursor()
cur.execute("CREATE Table WEATHER(city text, country text, season text, temperature float, rainfall float)")

insert_str = "INSERT INTO WEATHER VALUES (?, ?, ?, ?, ?)"
rec0 = ('Mumbai','India','Winter',24.8, 5.9)
rec1 = ('Mumbai','India','Spring',28.4, 16.2)
rec2 = ('Mumbai','India','Summer',27.9, 1549.4)
rec3 = ('Mumbai','India','Fall',27.6, 346.0)

rec4 = ('London','United Kingdom','Winter',4.2, 207.7)
rec5 = ('London','United Kingdom','Spring',8.3, 169.6)
rec6 = ('London','United Kingdom','Summer',15.7, 157.0)
rec7 = ('London','United Kingdom','Fall',10.4, 218.5)

rec8 = ('Cairo','Egypt','Winter',13.6, 16.5)
rec9 = ('Cairo','Egypt','Spring',20.7, 6.5)
rec10 = ('Cairo','Egypt','Summer',27.7, 0.1)
rec11 = ('Cairo','Egypt','Fall',22.2, 4.5)

cur.execute(insert_str,rec0)
cur.execute(insert_str,rec1)
cur.execute(insert_str,rec2)
cur.execute(insert_str,rec3)
cur.execute(insert_str,rec4)
cur.execute(insert_str,rec5)
cur.execute(insert_str,rec6)
cur.execute(insert_str,rec7)
cur.execute(insert_str,rec8)
cur.execute(insert_str,rec9)
cur.execute(insert_str,rec10)
cur.execute(insert_str,rec11)

cur.execute('select * from WEATHER')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [26]:
Q1 = 'select temperature from weather'
Q2 = 'select distinct city from weather'
Q3 = 'select * from weather where Country = "India"'
Q4 = 'select * from weather where season = "Fall"'
Q5 = 'select city, country from weather where rainfall between 200 and 400'
Q6 = 'select city, country, season from weather where season = "Fall" and temperature > 20 order by temperature'
Q7 = 'select sum(rainfall) from weather where city = "Cairo" group by city'
Q8 = 'select city, sum(rainfall) from weather group by city'

cur.execute(Q1)
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [27]:
cur.execute(Q2)
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [28]:
cur.execute(Q3)
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [29]:
cur.execute(Q4)
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [30]:
cur.execute(Q5)
cur.fetchall()

[('Mumbai', 'India'),
 ('London', 'United Kingdom'),
 ('London', 'United Kingdom')]

In [31]:
cur.execute(Q6)
cur.fetchall()

[('Cairo', 'Egypt', 'Fall'), ('Mumbai', 'India', 'Fall')]

In [32]:
cur.execute(Q7)
cur.fetchall()

[(27.6,)]

In [33]:
cur.execute(Q8)
cur.fetchall()

[('Cairo', 27.6), ('London', 752.8), ('Mumbai', 1917.5)]

# Question 9
<p>Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:
</p>

In [34]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print(words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [35]:
upperCaseWords = [word.upper() for word in words ]
print(upperCaseWords)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [36]:
lowerCaseWords = [word.lower() for word in words ]
print(lowerCaseWords)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [37]:
length_of_Words = [len(word) for word in words ]
print(length_of_Words)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [38]:
Pop_Words = [[word.upper(),word.lower(),len(word)] for word in words ]
print(Pop_Words)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [39]:
# the list of words in list words containing 4 or more characters.
_4_or_more_letter_Words = [word for word in words if len(word) >= 4]
print(_4_or_more_letter_Words)

['quick', 'brown', 'jumps', 'over', 'lazy']